<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card text-center mx-auto" style="width: 22rem;">
        <div class="card-header unique-color white-text">
          Cart
        </div>
        <div class="card-body">
          <h4 class="card-title">Your cart is empty</h4>
          <p class="card-text">Please view the menu to add an item.</p>
          <a class="btn btn-primary waves-light" mdbRippleRadius>View Menu</a>
        </div>
      </div>

    </div>
  </div>
</div>