<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-cascade wider reverse">
        <div class="view overlay hm-white-slight">
          <img src="../assets/bg.jpeg" alt="">
        </div>

        <div class="card-body text-center">
          <h2>
            <a>We want to hear from you!</a>
          </h2>
          <p>Share your dining experience with us.</p>

          <!--Social shares-->
          <div class="social-counters ">

            <!--Facebook-->
            <a class="btn btn-fb waves-light" mdbRippleRadius>
              <i class="fa fa-facebook left "></i>
              <span class="hidden-md-down ">Facebook</span>
            </a>

            <!--Twitter-->
            <a class="btn btn-tw waves-light" mdbRippleRadius>
              <i class="fa fa-twitter left "></i>
              <span class="hidden-md-down ">Twitter</span>
            </a>

            <!--Google+-->
            <a class="btn btn-gplus waves-light" mdbRippleRadius>
              <i class="fa fa-google-plus left "></i>
              <span class="hidden-md-down ">Google+</span>
            </a>

            <!--Instagram-->
            <a class="btn btn-insta waves-light" mdbRippleRadius>
              <i class="fa fa-instagram left "></i>
              <span class="hidden-md-down ">Instagram</span>
            </a>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-menu></app-menu>
    </div>
  </div>
</div>